.Recommendation
{
    width: 90vw;
   
    height: 20vw;

    display: flex;
    flex-wrap: wrap;
    margin-top: 5vw;


}
.RecommendationButton
{
    width: 15vw;
    height: 6vw;
    text-align: center;
    line-height: 6vw;
    color: #FB437A;
    border: 1px solid #FB437A;
    border-radius: 5vw;
    font-size: 3vw;
    margin-left: 2vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;


}
.Recommendationdiv
{
    height: 30vw;
    background-color: white;
    padding: 4vw;
    width: 88vw;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 15vw


  
}